[submodule "externals/cryptopp-cmake"]
	path = externals/cryptopp-cmake
	url = https://github.com/shadps4-emu/ext-cryptopp-cmake.git
	branch = master
[submodule "externals/cryptopp"]
	path = externals/cryptopp
	url = https://github.com/shadps4-emu/ext-cryptopp.git
	branch = master
